@font-face {
  
	font-family: 'PingFangSC-Medium';

	src: url('PingFang Medium.ttf');

	font-weight: normal;
  
	font-style: normal;

}

@font-face{
  
	font-family: 'PingFangSC-Light';
  
	src: url('PingFang Light.ttf');
  
	font-weight: normal;
  
	font-style: normal;

}

@font-face{
  
	font-family: 'PingFangSC-Regular';
  
	src: url('PingFang Regular.ttf');
  
	font-weight: normal;
  
	font-style: normal;
}

