@themeColor:#02a4af;
@themeColorOpacity: rgba(2, 164, 175, 0.04);
@secondThemeColor:#373d4b;

@activeTextColor: #00A4AF;
@firstTextColor: #1D1F31;
@secondTextColor: #4A4A4A;
@thirdTextColor: #9B9B9B;

@firstBorderColor: #D5D5D5;

@firstBackground: #f8f8f8;
@secondBackground: #f0f0f0;

@bgColor:#fafafa;
@titleBgColor:#f2f2f2;

@borderColor:#ccc;
@borderSecondColor: #ddd;
@borderThirdColor: #dfe1e6;

@spanColor:#02a4af;
@fontColor:#333;
@aColor:#666;
@labelColor:#999;

@stepColor: #c3c3c3;